* {
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'Times New Roman', Times, serif;
  box-sizing: border-box; 
  
}

body {
  font-size: 1rem;
  text-align: center;
  background: #fff;
}

.header {
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: wheat;
}

.logo-img {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #000;
}

.gpa-btn {
    margin: 10px;
    padding: 15px;
    width: 100px;
    height: 80px;
   border: 2px solid #fff;
    border-radius:10px;
    background-color: wheat;
    color: #fff;
    box-shadow: 2px 2px 2px 2px  #000;
    font-size: 1.5rem;
    text-shadow: 4px 4px 5px  #000;
}

.gpa-btn:hover {
    text-shadow: 2px 2px 5px  #fff;
    width: 200px;
    height: 90px;  
    border: 2px solid #fff;
    border-radius:10px;
    background-color: #fff;
    color: #000;
   
}

.notice {
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
  background-color: black;
  color: #fff;
  border: 2px dotted wheat;
  border-radius: 10px;
  text-align: center;
}

.footer {
 
  padding: 15px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  font-size: 0.7rem;
  font-weight: bolder;
  background-color: wheat;
  color: #fff;
  text-shadow: 4px 4px 5px #000
}

.level {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.semester {
  margin-top: 20px;
  margin: 6px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: blue;
  box-shadow: 2px 3px 2px 2px #000;
  width: 140px;
  
}

.i00lvl,.z00lvl,.e00lvl,.f00lvl,.s00lvl,.x00lvl,.v00lvl {
  margin-bottom: 25px;
  padding: 5px;
  background-color: #fff;
  color: blue;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #000;
}

h4 {
    margin: 6px;
    padding: 6px;
    font-weight: bolder;
    text-align: center;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 50px;
    background-color: wheat;
   
}


.calculator-btn {
  margin: 10px;
  padding: 10px;
  text-align: center;
  
}

.calc-btn {
  margin: 10px;
  padding: 15px;
  background-color: wheat;
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px #000;
  text-shadow: 2px 2px 5px #000;
}

.calc-btn:hover {
  background-color: #fff;
  color: black;
  text-shadow: 2px 2px 5px #000;
}

.result-view {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  width: 170px;
  box-shadow: 2px 2px 2px 2px #000;
}

.result {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

#Result,
#Rating,
.result-text {
  margin: 5px;
  padding: 5px;
  color: blue;
  font-size: 1.9rem;
  
  
}