* {
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,'Times New Roman', Times, serif;
  box-sizing: border-box; 
  
}

body {
  font-size: 1rem;
  overflow: scroll;
  background: white;

}

.header {
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: wheat;
}

.logo-img {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;
  
}



.cgpa-btn {
  margin: 10px;
  padding: 15px;
  width: 100px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: wheat;
  backdrop-filter: 20%;
  color: #fff;
  box-shadow: 2px 2px 2px 2px #000;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px #000;
}

.cgpa-btn:hover {
  text-shadow: 2px 2px 5px #fff;
  width: 200px;
  height: 90px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  
}
.notice {
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
  background-color: black;
  color: #fff;
  border: 2px dotted wheat;
  border-radius: 10px;
  text-align: center;
}

.footer {
  margin: px;
  padding: 15px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  font-size: 0.7rem;
  font-weight: bolder;
  background-color: wheat;
  text-shadow: 4px 4px 5px #000;
  color: #fff;
}

.courses {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
 
}

.form-1 {
  margin: 5px;
  padding: 8px;
  background-color: wheat;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  display:  grid;
  grid-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 2px 2px #000;
}

.form-2 {
  margin: 5px;
  padding: 8px;
  background-color: wheat;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 2px 2px #000;
}

.form-3 {
margin: 5px;
padding: 8px;
background-color: wheat;
color: #fff;
border-radius: 10px;
text-align: center;
display: grid;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
box-shadow: 2px 2px 2px 2px #000;
}

.form2-3 {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.form-1, .form-2, .form-3 {
background: rgba(255, 255, 255, 02);
backdrop-filter: blur(20px);
border: none;
}

.course-codes {
  margin-top: 8px;
  padding: 8px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: #000;
  box-shadow: 2px 3px 2px 2px #000;
  width: 130px;
  border: none;
  outline: none;
  
  
}

.scores {
  margin-top: 8px;
  padding: 8px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: #000;
  box-shadow: 2px 3px 2px 2px #000;
  border: none;
  outline: none;
  
}

.unit {
  margin-top: 8px;
  padding: 8px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: #000;
  box-shadow: 2px 3px 2px 2px #000;
  border: none;
  outline: none;
}

.calculator-btn {
  margin: 10px;
  padding: 10px;
  text-align: center;
  
}

.calc-btn {
  margin: 10px;
  padding: 15px;
  background-color: wheat;
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px #000;
  text-shadow: 2px 2px 5px  #000;
}

.calc-btn:hover {
 background-color: #fff;
 color: black;
  text-shadow: 2px 2px 5px  #000;
}

.result-view {
  margin: 10px;
  padding: 10px;
  
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  width: 170px;
  box-shadow: 2px 2px 2px 2px #000;
}

.result {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

#Result, #Rating, .result-text {
  margin: 5px;
  padding: 5px;
  color: blue;
  font-size: 1.9rem;
  
  
}
 

